* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    width: auto;
    height: 100px;
    flex-shrink: 0;
    background: #FDC9AA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbrand-container {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-brand {
    width: 120px;
    height: 120px;
}

.nav-brand img {
    width: 120px;
    height: 120px;
}

.boton-carrito {
    margin-left: auto;
    margin-right: 40px;
    color: transparent;
    border: transparent;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.carrito-icono {
    position: absolute;
    right: 9px;
    bottom: 31px;
    margin-left: auto;
    margin-right: 40px;
}

.boton-carrito:hover .carrito-icono path {
    stroke: #FFF8F2;
}

.boton-carrito:hover .icono-fondo-hover path {
    fill: #5F1E1E;
}

.carrito-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.carrito-header {
    background-color: #FDC9AA;
}

.carrito-titulo {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carrito-body {
    display: flex;
    flex-direction: column;
    background-color: #FFF8F2;
}

.carrito-item-container {
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 2px solid #5F1E1E;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.item-img {
    width: 80px;
    height: 80px;
}

.item-carrito-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item-titulo {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-descripcion {
    color: rgba(0, 0, 0, 0.87);
    font-family: Delius;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 15px;
    margin-bottom: 0px;
}

.item-precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin-right: 10px;
}

.item-precio h6 {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.unidades-container {
    display: flex;
    justify-content: space-between;
}

.unidades-container button {
    border: none;
    background-color: #FDC9AA;
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
}

.unidades-container button:hover {
    background-color: #5F1E1E;
    color: #FDC9AA;
}

.unidades-container span {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 30px;
    height: 30px;
}

.carrito-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDC9AA;
    height: 80px;

}

.carrito-total h5 {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-eliminar {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

/*main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/fondo\ body.png);
    background-repeat: repeat;
    background-size: 100% auto;
}

.categorias-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.categorias-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 72px;
    border: 5px solid #5F1E1E;
    border-radius: 23px;
    background-color: #FFF8F2;
    padding: 5px;
    transition: background-color 0.2s ease;
    text-decoration: none;
    margin: 10px 10px 0px;
}

.icono-bebidas-calientes {
    position: relative;
    left: 13px;
    bottom: 2px;
}

.categorias-button p {
    color: #5F1E1E;
    text-align: center;
    font-family: "Candy Beans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Title-Medium-Line-Height, 20px);
    letter-spacing: -0.20px;
    margin-bottom: 0px;
    margin-left: 5px;

}

.icono-bebidas-frias {
    position: relative;
    left: 13px;
    top: 1px;
}

.categorias-button:hover {
    background-color: #5F1E1E;
}

.categorias-button:hover .icono-bebidas-calientes path,
.categorias-button:hover .icono-bebidas-frias path,
.categorias-button:hover .icono-comidas path {
    stroke: #FFF8F2;
}

.categorias-button:hover p {
    color: #FFF8F2;
}

.productos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bebidas-calientes-container,
.bebidas-frias-container,
.comidas-container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.categoria-titulo {
    color: #5F1E1E;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF8F2;
    text-shadow: 2px 2px 0 #FFF8F2,
        -2px -2px 0 #FFF8F2,
        2px -2px 0 #FFF8F2,
        -2px 2px 0 #FFF8F2,
        4px 4px 0 #FFF8F2,
        -5px -5px 0 #FFF8F2,
        5px -5px 0 #FFF8F2,
        -4px 4px 0 #FFF8F2;
    font-family: "Candy Beans";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

.producto-card {
    width: 314px;
    height: 518px;
    border-radius: 37px;
    border: 4px solid #5F1E1E;
    background: #FFF8F2;
    align-items: center;
    margin: 16px;
}

.producto-img {
    width: 244px;
    height: 244px;
    margin-top: 30px;
}

.producto-card-body {
    padding: 20px;
}

.producto-nombre {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.producto-descripcion {
    color: rgba(0, 0, 0, 0.87);
    font-family: Delius;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.precio-container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 45px;
}

.producto-precio {
    color: #5F1E1E;
    font-family: "Candy Beans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.icono-plus {
    position: absolute;
    right: 28px;
    bottom: 28px;
}

.icono-plus-fondo {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.btn-agregar-carrito:hover .icono-plus path {
    stroke: #5F1E1E;
}

.btn-agregar-carrito:hover .icono-plus-fondo circle {
    fill: #fdc8aad0
}

.carrito-item-container